!-- Xft settings -- !
Xft.dpi: 96.0
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.antialias: true
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! -- URxvt -- !
! URxvt*font: -xos4-terminus-medium-*-*-*-18-*-*-*-*-*-u
! URxvt*font: -misc-droid sans mono-medium-*-*-*-15-*-*-*-*-*-*-u
URxvt*font: xft:Ubuntu Mono:size=12
URxvt*boldFont: xft:Ubuntu Mono:size=12:bold

URxvt*transparent: false
URxvt*shading: 40
URxvt*background: black
URxvt*foreground: green
URxvt*fading: 40
URxvt*fadeColor: black
URxvt*cursorColor: green
URxvt*pointerColorBackground: gray
URxvt*pointerColorForeground: yallow


URxvt*scrollBar: false
URxvt*saveLines: 65535

! -- Extension -- !
URxvt.iso14755: false
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.clipboard.autocopy: true
! -- Keys -- !
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:		perl:keyboard-select:activate
URxvt.keysym.M-s:			perl:keyboard-select:search
URxvt.keysym.S-C-C:			perl:clipboard:copy
URxvt.keysym.S-C-V:			perl:clipboard:paste
URxvt.keysym.C-v:			perl:clipboard:paste_escaped


! ------ UXTerm --------
UXTerm*utf8Title: true
UXTerm*faceName: Ubuntu Mono
UXTerm*renderFont: true
UXTerm*faceSize: 12
UXTerm*foreground: green
UXTerm*cursorColor: green
UXTerm*background: black
UXTerm*loginShell: true



